.tile {
  width: 38px;
  height: 38px;
  border: 1px solid white;
  background: #EEE;
  float: left;
}

#board {
  width: 1000px;
  height: 800px;
  border: 1px solid #DDD;
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #EEE;
}

.snake1 {
  background: url('kush.jpg');
  background-size: cover;
}

.snake2 {
  background: url('ned.jpg');
  background-size: cover;
}

.food {
  background: url('cat.jpg') center;
  background-size: cover;
}

#playagain {
  margin: 0 auto;
  width:200px;
}